/build/
/Homework4.xcodeproj/johnryding.mode1v3
/Homework4.xcodeproj/johnryding.pbxuser
/Homework4.xcodeproj/project.pbxproj
/BodyPart.o
/Camera.o
/homework4
/homework4.o
/Robot.o
/.DS_Store
/project2.o
/ro.bit
/Util.o
/project2
project3

Player.o

Channel.o
project3.o
